name: Test GitHub annotation

on: pull_request

jobs:
  test-github-annotation:
    timeout-minutes: 5
    name: Test GitHub annotation
    runs-on: ubuntu-latest
    steps:
      - uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9 # No semver tag.
        with:
          toolchain: stable
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/setup_gitleaks
      - uses: reviewdog/action-setup@d8a7baabd7f3e8544ee4dbde3ee41d0011c3a93f # v1.5.0
        with:
          reviewdog_version: latest
      - name: Test apply
        env:
          REPORT_PATH: tmp/report.json
          GUIDE: "see more detail at https://example.com"
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: |
          set -x
          mkdir -p tmp
          gitleaks detect --verbose --exit-code=0 --no-banner \
            --report-format template --report-template dev/jsonextra.json.tmpl \
            --config=tests/testdata/scan_config.toml --report-path="${REPORT_PATH}"
          cargo run apply --no-fail --format=sarif --config-path=tests/testdata/empty_allowlist.toml | \
            reviewdog -f=sarif -reporter=github-pr-check -level=warning -name=gls
