name: Test GitHub annotation

on: pull_request

jobs:
  test-github-annotation:
    name: Test GitHub annotation
    runs-on: ubuntu-latest
    steps:
      - uses: dtolnay/rust-toolchain@c5a29ddb4d9d194e7c84ec8c3fba61b1c31fee8c # No semver tag.
        with:
          toolchain: stable
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: ./.github/actions/setup_gitleaks
      - uses: reviewdog/action-setup@3f401fe1d58fe77e10d665ab713057375e39b887 # v1.3.0
        with:
          reviewdog_version: latest
      - name: Test apply
        env:
          REPORT_PATH: tmp/report.json
          GUIDE: "see more detail at https://example.com"
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: |
          set -x
          mkdir -p tmp
          gitleaks detect --verbose --exit-code=0 --no-banner \
            --report-format template --report-template dev/jsonextra.json.tmpl \
            --config=tests/testdata/scan_config.toml --report-path="${REPORT_PATH}"
          cargo run apply --no-fail --format=sarif --config-path=tests/testdata/empty_allowlist.toml | \
            reviewdog -f=sarif -reporter=github-pr-check -level=warning -name=gls
